html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-transparent, .transparent {
  background-color: inherit !important;
  border-radius: 5px !important;
  border: 1px solid black !important;
}

.header {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.sidebar {
  border-left: 1px solid rgba(230, 230, 230, 1);
  min-height: 100vh;
  display: block;
  max-width: 46.2rem;
  flex: 1 0 46.2rem;
}

.menu {
  flex: 0 0 22rem;
  height: 100%;
  width: 22rem;
}
